################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/AutonomesFahren/v15/ipch/AutoPCH/fa82c22fcf5acc3e/KIT12_RX62T.ipch
/.vs/AutonomesFahren/v15/Browse.VC.db
/.vs/AutonomesFahren/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
