################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/AutonomesFahren/v15/ipch/AutoPCH/fa82c22fcf5acc3e/KIT12_RX62T.ipch
/.vs/AutonomesFahren/v15/Browse.VC.db
/.vs/AutonomesFahren/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
Debug/vecttbl.obj
Debug/sbrk.obj
Debug/resetprg.obj
Debug/kit12_rx62t.obj
Debug/kit12_rx62t.lib
Debug/intprg.obj
Debug/hwsetup.obj
Debug/dbsct.obj
